<!doctype html>
<html lang="en">
    <head>

        {{! Document settings and metadata }}
        <title>{{@blog.title}}</title>
        <meta charset="utf-8" />
        <meta name="description" content="{{@blog.description}}" />
        <meta name="author" content="{{@blog.title}}" />
        <meta name="designer" content="Hayden Bleasel" />
        <meta name="rating" content="general" />
        <meta name="keywords" content="ghost, blog, {{@blog.title}}" />

        {{! iOS, Android and Windows stuff }}
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="msapplication-TileImage" content="{{asset 'images/windows-tile.png'}}" />
        <meta name="msapplication-TileColor" content="#262A2D" />

        {{! Robots and Viewport }}
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {{! OpenGraph for Facebook }}
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{@blog.title}}" />
        <meta property="og:url" content="{{@blog.url}}" />
        <meta property="og:description" content="{{@blog.description}}" />
        <meta property="og:image" content="{{asset 'images/open-graph.png'}}" />
        <meta property="og:locale" content="en_US" />

        {{! Twitter Card }}
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:title" content="{{@blog.title}}" />
        <meta property="twitter:description" content="{{@blog.description}}" />
        {{#if @blog.cover}}<meta property="twitter:image" content="{{@blog.cover}}" />{{/if}}
        <meta property="twitter:url" content="{{@blog.url}}" />

        {{! Icons }}
        <link rel="icon" href="{{asset 'favicon.ico'}}" />
        <link rel="icon" sizes="196x196" href="{{asset 'images/android-homescreen.png'}}" />
        <link rel="apple-touch-icon" href="{{asset 'images/apple-touch-icon.png'}}" />

        {{! Prerendering and Prefetching }}
        {{#if @blog.cover}}
            <link rel="prerender" href="{{@blog.cover}}" />
            <link rel="prefetch" href="{{@blog.cover}}" />
        {{/if}}
        <link rel="dns-prefetch" href="http://cdnjs.com/" />

        {{! Scripts and Stylesheets }}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" />
        <link rel="stylesheet" href="{{asset 'css/phantom.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/gist.css'}}" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>

        {{ghost_head}}

    </head>
    <body class="{{body_class}}">
        <nav class="animated fadeIn navigation">
            <div class="container">
                <a href="{{@blog.url}}" class="text-right sidebar brand">
                    {{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{@blog.title}}" />{{/if}}
                </a>
                <p class="content">{{@blog.title}}</p>
            </div>
        </nav>
        <div class="main">
            {{{body}}}
        </div>
        <footer class="animated fadeInUp" id="footer">
            <div class="text-center">
                <h1>All content copyright &copy; {{@blog.title}} {{date format="YYYY"}}</h1>
            </div>
        </footer>

        {{ghost_foot}}

        {{! Deferred scripts }}
        <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.2/fastclick.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script>
        <script src="{{asset 'js/phantom.js'}}"></script>
    </body>
</html>
