{{! Plug this code into the body }}
{{!< default}}

{{! Post Context }}
{{#post}}

    {{! Header }}
    <header class="animated fadeIn" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        <div class="container">
            <div class="title animated fadeInUp">
                <h1>{{title}}</h1>
                <div class="share">
                    Share this page on <a href="http://twitter.com/share?text={{title}}&url={{url absolute='true'}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">Twitter</a>, <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">Facebook</a> or <a href="https://plus.google.com/share?url={{url absolute='true'}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">Google+</a>.
                </div>
            </div>
            <div class="sidebar text-right meta">
                <div class="published animated fadeInUp">
                    <strong>Last Updated</strong>
                    <time datetime="{{date format='YYYY-MM-DD'}}">{{date format='DD MMM YYYY'}}</time>
                </div>
            </div>
        </div>
    </header>

    {{> content}}

{{/post}}
