{{!< default}}

{{#post}}

    {{> post-meta}}

    <header class="animated fadeIn" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        <div class="container" data-stellar-ratio="0.75">
            {{> title}}
            {{> sidebar}}
        </div>
    </header>

    {{> content}}

    <div class="container">
        <div class="author animated fadeIn clearfix">
            {{#author}}
                <img src="{{image}}" alt="{{name}}" />
                <div class="info">
                    <a href="{{url}}" class="name">{{name}}</a>
                    <p class="bio">{{bio}}</p>
                </div>
            {{/author}}
        </div>
    </div>

    {{!> featured}}

    {{!> comments}}

{{/post}}
