{{!< default}}

{{#post}}

    {{> post-meta}}

    <header class="animated fadeIn" {{#if feature_image}}style="background-image: url({{feature_image}})"{{/if}}>
        <div class="container" data-stellar-ratio="0.75">
            {{> title}}
            {{> sidebar}}
        </div>
    </header>

    <div class="push-article">

{{! Temporary indentation shift for Handlebars issue }}
{{> content}}

    </div>

    <div class="container">
        <div class="author animated fadeIn clearfix">
            {{#author}}
                <img src="{{img_url profile_image}}" alt="{{name}}" />
                <div class="info">
                    <a href="{{url}}" class="name">{{name}}</a>
                    <p class="bio">{{bio}}</p>
                </div>
            {{/author}}
        </div>
    </div>

    {{!> comments}}

{{/post}}
